---
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
---
<html lang="en">
	<head>
		<title>PepperSauce | 聯絡</title>
	</head>
	<DefaultWebsite>
		<div class="flex flex-col items-center min-h-screen">
		</div>
	</DefaultWebsite>
</html>