---
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import { Icon } from "astro-icon/components";
---

<DefaultWebsite pageTitle="PepperSauce | 聯絡我">
	<!-- 寄信表單 -->
	<div class="mt-48 flex flex-col items-center first-in">
		<h1 class="text-white font-bold text-3xl mb-1">聯絡我</h1>
		<p class="text-neutral-400 text-xl">更推薦以社群媒體的方式聯絡我喔！</p>
	</div>

	<form
		action="https://formsubmit.co/psauceshan11@gmail.com"
		method="POST"
		class="w-1/6 flex flex-col second-in"
	>
		<label for="name" class="text-xl">稱呼</label>
		<input
			type="text"
			name="name"
			class="text-base w-full bg-neutral-900 border border-neutral-700 rounded-lg text-white p-2 mb-8"
			placeholder="請輸入您的稱呼"
			required
		/>

		<label for="email" class="text-xl">電子郵件</label>
		<input
			type="email"
			name="email"
			class="text-base w-full bg-neutral-900 border border-neutral-700 rounded-lg text-white p-2 mb-8"
			placeholder="請輸入您的電子郵件"
			required
		/>

		<label for="title" class="text-xl">標題</label>
		<input
			type="text"
			name="title"
			class="text-base w-full bg-neutral-900 border border-neutral-700 rounded-lg text-white p-2 mb-8"
			placeholder="請輸入信件標題"
			required
		/>

		<label for="content" class="text-xl">內文</label>
		<textarea
			name="message"
			class="text-base w-full min-h-48 bg-neutral-900 border border-neutral-700 rounded-lg text-white p-2 mb-8"
			placeholder="請輸入信件內文"
			required></textarea>

		<button
			type="submit"
			class="w-full bg-neutral-900 rounded-lg text-white p-2"
		>
			發送
		</button>
	</form>

	<!-- 我的社交媒體 -->
	<div class="mt-16 flex flex-col items-center first-in">
		<h1 class="text-white font-bold text-3xl mb-1">社群媒體</h1>
		<p class="text-neutral-400 text-xl">加好友後請主動說明來意，謝謝你。</p>
	</div>

	<section class="flex flex-col w-1/6 gap-y-4 mb-48 second-in">
		<!-- Instagram -->
		<div
			class="w-full h-auto flex flex-row bg-neutral-900 border border-neutral-700 rounded-lg p-3"
		>
			<a
				href="https://www.instagram.com/po_shan.0611/"
				target="_blank"
				class="w-1/6 flex justify-center items-center text-3xl mr-3"
			>
				<Icon
					name="simple-icons:instagram"
					class="text-white text-4xl hover:opacity-80"
				/>
			</a>

			<div class="flex flex-col">
				<a
					href="https://www.instagram.com/po_shan.0611/"
					target="_blank"
					class="text-xl hover:opacity-80">Instagram</a
				>
				<span class="text-sm text-neutral-400">po_shan.0611</span>
			</div>
		</div>

		<!-- Discord -->
		<div
			class="w-full h-auto flex flex-row bg-neutral-900 border border-neutral-700 rounded-lg p-3"
		>
			<a
				href="https://discord.com/users/514774919381516288"
				target="_blank"
				class="w-1/6 flex justify-center items-center text-3xl mr-3"
			>
				<Icon
					name="simple-icons:discord"
					class="text-white text-4xl hover:opacity-80"
				/>
			</a>

			<div class="flex flex-col">
				<a
					href="https://discord.com/users/514774919381516288"
					target="_blank"
					class="text-xl hover:opacity-80">Discord</a
				>
				<span class="text-sm text-neutral-400">pepper_sauce</span>
			</div>
		</div>
	</section>
</DefaultWebsite>
