---
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import { Image } from 'astro:assets';
---
<html lang="en">
	<head>
		<title>PepperSauce | 個人網頁</title>
	</head>
	<DefaultWebsite>
		<div class="h-32"></div>
		<div class="flex flex-col items-center min-h-screen">
			<Image
			src="/images/PepperSauce_icon.jpg"
			alt="PepperSauce的頭貼"
			width="150"
			height="150"
			  class="rounded-full outline outline-1 outline-neutral-700"
			  />
			<br>
			<text class="text-white font-bold text-2xl h-10">嗨，我是
				<text class="text-green-300">PepperSauce</text>
			</text>
			<text class="text-zinc-500 text-base">&lt;/&gt;Unreal Engine VFXer</text>
		</div>
	</DefaultWebsite>
</html>