---
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<DefaultWebsite pageTitle="PepperSauce | 個人網頁">
	<!-- 主頁 -->
	<section class="flex flex-col items-center gap-y-24 p-16 mt-48">
		<div class="flex flex-col items-center">
			<Image
				src="/images/PepperSauce_icon.jpg"
				alt="PepperSauce的頭貼"
				width="150"
				height="150"
				class="rounded-full outline outline-1 outline-neutral-700 mb-6"
			/>
			<p class="text-4xl">
				你好，我是 <span class="text-green-300">PepperSauce</span>
			</p>
			<p class="text-xl text-neutral-300 mt-2">
				InfoSec · Programming · Locking
			</p>
		</div>

		<div class="flex flex-row gap-x-8">
			<a
				href="/about"
				class="w-40 h-12 flex flex-row items-center justify-center border bg-neutral-900 border-neutral-700 rounded-lg"
			>
				<span class="text-lg font-bold">關於我</span>
				<Icon name="ion:arrow-forward" class="w-5 h-5 ml-4" />
			</a>

			<a
				href="/blog"
				class="w-40 h-12 flex flex-row items-center justify-center border bg-neutral-900 border-neutral-700 rounded-lg"
			>
				<span class="text-lg font-bold">部落格</span>
				<Icon name="ion:arrow-forward" class="w-5 h-5 ml-4" />
			</a>
		</div>
	</section>
</DefaultWebsite>
