---
import Navbar from "../components/Navbar.astro";
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import { Image } from 'astro:assets';
---
<DefaultWebsite pageTitle="PepperSauce | 個人網頁">
    <!-- 首頁 -->
    <section class="flex flex-col items-center min-h-screen">
        <Image
        src="/images/PepperSauce_icon.jpg"
        alt="PepperSauce的頭貼"
        width="150"
        height="150"
        class="rounded-full outline outline-1 outline-neutral-700"
        />
        <p class="text-white font-bold text-3xl h-12">嗨，我是
            <span class="text-green-300">PepperSauce</span>
        </p>
        <p class="text-neutral-400 text-base">&lt;/&gt;Unreal Engine VFXer</p>
        <p class="text-neutral-400 text-base my-20">「但行好事，莫問前程。」</p>
        <div class="flex flex-row gap-5">
            <Navbar social="ig" cls="text-2xl"/>
            <Navbar social="dc" cls="text-2xl"/>
            <Navbar social="github" cls="text-2xl"/>
        </div>
        <button class="bg-white rounded-full w-36 h-10 my-3 flex flex-row justify-center gap-2"
                onclick="window.location.href='/'">
            <i class="fi fi-rr-diploma text-xl my-2.5"></i>
            <p class="font-bold my-2">查看經歷</p>
            <i class="fi fi-rr-arrow-right my-2.5"></i>
        </button>
    </section>
</DefaultWebsite>