---
import Logoimage from "../components/Logoimage.astro";
import Navbar from "../components/Navbar.astro";
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import { Image } from 'astro:assets';
---
<DefaultWebsite pageTitle="PepperSauce | 個人網頁">
    <!-- 首頁 -->
    <section class="flex flex-col items-center min-h-screen">
        <Image
        src="/images/PepperSauce_icon.jpg"
        alt="PepperSauce的頭貼"
        width="150"
        height="150"
        class="rounded-full outline outline-1 outline-neutral-700"
        />
        <p class="text-white font-bold text-3xl h-12">嗨，我是
            <span class="text-green-300">PepperSauce</span>
        </p>
        <p class="text-neutral-400 text-base">&lt;/&gt;Unreal Engine VFXer</p>
        <p class="text-neutral-400 text-base my-20">「但行好事，莫問前程。」</p>
        <div class="flex flex-row gap-5">
            <Navbar social="ig" cls="text-2xl"/>
            <Navbar social="dc" cls="text-2xl"/>
            <Navbar social="github" cls="text-2xl"/>
        </div>
        <button class="bg-white rounded-full w-36 h-10 my-3 flex flex-row justify-center gap-2"
                onclick="window.location.href='/'">
            <i class="fi fi-rr-diploma text-xl my-2.5"></i>
            <p class="font-bold my-2">查看經歷</p>
            <i class="fi fi-rr-arrow-right my-2.5"></i>
        </button>
    </section>
    <!-- 首頁 -->

    <!-- 關於我 -->
    <p class="text-3xl text-white font-bold">關於我</p>
    <p class="text-lg text-neutral-400 my-2">一位興趣多樣卻樣樣不精的學生</p>

    <!-- 技能栈 -->
    <p class="text-3xl text-white font-bold">技術栈</p>
    <section class="grid grid-cols-4 gap-x-10 gap-y-10">
        <p class="text-white font-bold text-lg text-center">前端開發</p>
        <p class="text-white font-bold text-lg text-center">後端開發</p>
        <p class="text-white font-bold text-lg text-center">遊戲開發</p>
        <p class="text-white font-bold text-lg text-center">其他</p>
        <div class="grid grid-cols-2 gap-8 grid-rows-3">
            <Logoimage icon="/ui_icons/astro-svgrepo-com.svg" name="Astro"></Logoimage>
            <Logoimage icon="/ui_icons/tailwind-css-svgrepo-com.svg" name="Tailwind"></Logoimage>
        </div>
        <div class="grid grid-cols-2 gap-8 grid-rows-3">
            <Logoimage icon="/ui_icons/cpp-svgrepo-com.svg" name="C++"></Logoimage>
            <Logoimage icon="/ui_icons/python-127-svgrepo-com.svg" name="Python"></Logoimage>
            <Logoimage icon="/ui_icons/javascript-svgrepo-com.svg" name="Javascript"></Logoimage>
        </div>
        <div class="grid grid-cols-2 gap-8 grid-rows-3">
            <Logoimage icon="/ui_icons/unreal-engine-svgrepo-com.svg" name="Unreal"></Logoimage>
        </div>
        <div class="grid grid-cols-2 gap-8 grid-rows-3">
            <Logoimage icon="/ui_icons/vscode-svgrepo-com.svg" name="Vscode"></Logoimage>
        </div>
    </section>

    <!-- 作品集 -->
    <p class="text-3xl text-white font-bold">作品集</p>
    <section class= "grid grid-cols-2 auto-rows gap-12">
        <div class="bg-neutral-900 w-[33rem] h-[30rem] flex flex-col rounded-xl p-4 border border-neutral-700">
            <iframe src="https://www.youtube.com/embed/Dnz-BTz9eDU" allow="autoplay; encrypted-media" allowfullscreen class="rounded-xl w-full h-72"></iframe>
            <p class="text-2xl text-white h-9">次元斬</p>
            <p class="text-base text-neutral-400 h-24">
                簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介
            </p>
            <div class="flex flex-row justify-between">
                <div class="flex flex-row gap-2">
                    <div class="bg-neutral-800 rounded-full p-1.5 text-white text-sm border border-teal-400">Unreal Engine</div>
                    <div class="tags border-blue-400">VFX</div>
                    <div class="tags border-green-400">Imitation</div>
                </div>
                <button onclick="window.location.href='/'">
                    <img src="/ui_icons/exit.svg" height="28" width="28">
                </button>   
            </div>
        </div>
    </section>

</DefaultWebsite>