---
import DefaultWebsite from "../layouts/DefaultWebsite.astro";
import Blogblock from "../components/Blogblock.astro";
---

<DefaultWebsite pageTitle="PepperSauce | 作品集">
	<link
		rel="stylesheet"
		href="https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
	/>

	<!-- 精選文章x4 -->
	<div class="mt-48 flex flex-col items-center first-in">
		<h1 class="text-white font-bold text-3xl mb-1">精選文章</h1>
		<p class="text-neutral-400 text-xl">每一篇都花費許多心思撰寫的</p>
	</div>
	<section class="grid grid-cols-2 w-1/2 h-auto gap-4 second-in">
		<Blogblock mdx="whoami" />
		<Blogblock mdx="test1" />
		<Blogblock mdx="whoami" />
		<Blogblock mdx="whoami" />
	</section>

	<!-- 總文章 -->
	<!-- 標籤選擇 -->
</DefaultWebsite>
