---
const { social, cls } = Astro.props;
let icon, link;

if (social === "ig"){
    icon = "fi fi-brands-instagram inline-block " + cls;
    link = "https://www.instagram.com/po_shan.0611/";
}
if (social === "dc"){
    icon = "fi fi-brands-discord inline-block " + cls;
    link = "https://discord.gg/SHydprvSDJ";
}
if (social === "github"){
    icon = "fi fi-brands-github inline-block " + cls;
    link = "https://github.com/PepperSauce0712";
}
---
<button class="social">
    <i style="color:#4b4c4e;" class={icon}></i>
</button>

<script define:vars={{link}}>
    const buttons = document.querySelectorAll("button.social");
    
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        window.location.href = link;
      });
    });
</script>