---
import Navbar from "./Navbar.astro";
---
<footer style="border-top-width: 0.5px; border-color: #323335;" class="h-20 border-solid opacity-65 flex justify-evenly items-center mb-auto">
    <div class="flex flex-row">
        <Navbar social="ig" cls="mr-3"/>
        <Navbar social="dc" cls="mr-3"/>
        <Navbar social="github" cls=""/>
    </div>
    <text></text>
    <text style="font-size: 11px;" class="text-zinc-500 opacity-100">Copyright © 2025 PepperSauce. All rights reserved.</text>
</footer>