---
---
<header class="bg-black h-16 flex items-center justify-evenly sticky top-0">
    <a href="/PepperWebsite" class="text-white text-base">PepperSauce</a>
    <div class="flex items-center justify-evenly gap-5">
        <a href="/PepperWebsite/about" style="color:#8f9297;" class="text-lg">關於</a>
        <a href="/PepperWebsite/contact" style="color:#8f9297;" class="text-lg">聯絡</a>
        <a href="/PepperWebsite/portfolios_show" style="color:#8f9297;" class="text-lg">作品集</a>
    </div>
</header>