---
// layouts/DefaultWebsite.astro
import "../styles/global.css";
import { Icon } from "astro-icon/components";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<title>{pageTitle}</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="/images/favicon.ico" />
	</head>

	<body class="flex flex-col bg-neutral-950 text-white min-h-screen">
		<!-- 導覽行 -->
		<header
			style="border-color: #717171;"
			class="h-16 flex items-center justify-evenly sticky top-0 backdrop-blur border-b-[0.5px]"
		>
			<a href="/" class="text-white text-lg link-underline">PepperSauce</a>
			<div class="flex items-center justify-evenly gap-5">
				<a href="/friend" class="text-white text-lg link-underline">朋友</a>
				<a
					href="/experience"
					class="text-white text-lg link-underline active:to-blue-300">經歷</a
				>
				<a href="/portfolio" class="text-white text-lg link-underline">作品集</a>
				<a href="/contact" class="text-white text-lg link-underline">聯絡</a>
			</div>
		</header>

		<!-- 主體 -->
		<main class="flex flex-col items-center min-h-screen">
			<slot />
		</main>

		<!-- 頁尾 -->
		<footer
			style="border-top-width: 0.5px; border-color: #717171;"
			class="h-20 mt-4 opacity-85 flex justify-evenly items-center"
		>
			<div class="flex flex-row gap-6 mt-1">
				<a href="https://www.instagram.com/po_shan.0611/" target="_blank">
					<Icon
						name="simple-icons:instagram"
						class="text-white text-2xl hover:opacity-80"
					/>
				</a>
				<a href="https://discord.com/users/514774919381516288" target="_blank">
					<Icon
						name="simple-icons:discord"
						class="text-white text-2xl hover:opacity-80"
					/>
				</a>
				<a href="https://github.com/PepperSauce0712" target="_blank">
					<Icon
						name="simple-icons:github"
						class="text-white text-2xl hover:opacity-80"
					/>
				</a>
			</div>
			<p></p>
			<p class="text-lg text-white">
				Copyright © 2025 PepperSauce. All rights reserved.
			</p>
		</footer>

		<!-- 背景 -->
		<style>
			html{
				scroll-behavior: smooth;
			}
			body {
				background-image: linear-gradient(
						to right,
						rgba(130, 130, 130, 0.05) 1px,
						transparent 1px
					),
					linear-gradient(
						to bottom,
						rgba(130, 130, 130, 0.05) 1px,
						transparent 1px
					);
				background-size: 35px 35px;
			}
		</style>
	</body>
</html>
