---
---
<html lang="zh_tw">
	<head>
		<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css'>
	</head>
	<body class="flex flex-col min-h-screen">
		<slot/>
	</body>
	<style>
		body {
  		  background-color: #080808;
  		  background-image: 
    	  linear-gradient(to right, rgba(130, 130, 130, 0.1) 1px, transparent 1px),
    	  linear-gradient(to bottom, rgba(130, 130, 130, 0.1) 1px, transparent 1px);
  	      background-size: 22px 22px; /* 網格大小 */
		}
	</style>
</html>